{{ define "main" }}
  {{ partial "title.html" . }}
  <form id="singerCategories">
    <fieldset>
      <center>
        <legend class="category">先點選要尋找的歌手類別</legend>

        <div>
          <input type="radio" id="categoryFemale" name="gender" value="female" class="category" />
          <label for="categoryFemale">女</label>
        </div>

        <div>
          <input type="radio" id="categoryMale" name="gender" value="male" class="category" />
          <label for="categoryMale">男</label>
        </div>

        <div>
          <input type="radio" id="categoryGroup" name="gender" value="group" class="category" />
          <label for="categoryGroup">團體</label>
        </div>

        <!--
        <div>
          <input type="radio" id="categoryTogether" name="gender" value="together" class="category" />
          <label for="categoryTogether">合唱</label>
        </div>
        -->
      </center>
    </fieldset>
  </form>

  {{/* Which is better? block,none,inline,etc */}}
  <div id="female-singers" style="display: none;">
    {{ partial "display-singers-by-gender.html" "female"}}
  </div>
  <div id="male-singers" style="display: none;">
    {{ partial "display-singers-by-gender.html" "male"}}
  </div>
  <div id="group-singers" style="display: none;">
    {{ partial "display-singers-by-gender.html" "group"}}
  </div>

  {{/* Display all songs of the clicked singer */}}
  <center>
    <div id="songs-container">
      <h2 id="songs-container-title">
      </h2>
    </div>
  </center>


  {{/* Javascript to display singers */}}
  {{- with resources.Get "js/gender-radio-button-reaction.js" | resources.Minify | resources.Fingerprint -}}
    <script src="{{ .Permalink }}"></script>
  {{- end -}}


  {{/* Javascript to display songs */}}
  {{ $jsonSlice := partial "jsonl2slice.html" "karaoke/hongyin/songs.jsonl" }}
  <script>
    const allSongs = JSON.parse('{{ $jsonSlice | jsonify | safeJS }}');
  </script>
  <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.1.0"></script>
  {{- with resources.Get "js/singer-name-click-reaction.js" | js.Build -}}
    <script src="{{ .Permalink }}"></script>
  {{- end -}}

{{ end }}
