{{ define "main" }}
  {{ partial "title.html" . }}
  <div class="search-container">
    <center>
      <input type="text" id="search-input" placeholder="請輸入歌手或歌曲的關鍵字">
    </center>

    <center>
      <div id="results-container"></div>
    </center>
  </div>

  {{ $jsonSlice := partial "jsonl2slice.html" "karaoke/hongyin/songs.jsonl" }}

  <script>
    const allSongs = JSON.parse('{{ $jsonSlice | jsonify | safeJS }}');
  </script>

  <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.1.0"></script>

  {{/* Not sure whether js.Build needs Minify and Fingerprint */}}
  {{/*- with resources.Get "js/input-keyword-reaction.js" | resources.Minify | resources.Fingerprint | js.Build -*/}}
  {{- with resources.Get "js/input-keyword-reaction.js" | js.Build -}}
    <script src="{{ .Permalink }}"></script>
  {{- end -}}
{{ end }}
