{{ define "main" }}
<!-- Main container centered on the page -->
<center>
<div class="main-container">
  <h1 class="karaoke-home">
    {{- .Description -}}
  </h1>

  <!-- Link 1: Karaoke Songs -->
  <a href="karaoke-by-keyword"
     class="link link-karaoke-songs">
    🔑 關鍵字搜尋
  </a>

  <!-- Link 2: Record Karaoke -->
  <a href="karaoke-by-gender"
     class="link link-record-karaoke">
    ♀️性別♂️
    <!--♀️♂️性別-->
    <!-- &rarr; &#x1f846; &#x1f832; &#x2ba9; &#x2933; -->
    &rarr;
    <!-- &#x2ba9; -->
    歌手
    &rarr;
    <!-- &#x2ba9; -->
    <!-- &#x2933; -->
    歌曲
   </a>
</div>
</center>
{{ end }}
