input#search-input {
  /*font-size: 24px;*/
  font-size: 1.5rem;
}

table.fuzzy-found-songs {
  border-collapse: collapse;
  width: 90%;
  table-layout: fixed;
}

th, td {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
  /*font-size: 24px;*/
  font-size: 1.5rem;
}

th {
  background-color: #2563ea;
}

tr.fuzzy-found-songs:hover {
  /*cursor: pointer;*/
  background-color: #405257;
}

div#results-container {
  /*margin-bottom: 30px;*/
  margin: 30px;
  max-height: 30rem;
  overflow-y: auto;
}
