{{ $pathSplits := strings.Split (.Page.Path) "/"}}
{{ $length := len $pathSplits }}
{{ $category := index $pathSplits 1 }}
{{ $name := index $pathSplits (sub ($length) 1) }}
{{ $brand := index $pathSplits (sub ($length) 2) }}
{{ $ntd := (index (index (index .Site.Data.price $category) $brand) $name).ntd }}


{{ $gallery := partial "get-gallery.html" . }}
{{ with $gallery }}
  {{/* debug.Dump $.Params */}}
  {{ $sold_out := false }}
  {{ if isset $.Params "sold_out" }}
    {{ $sold_out = $.Params.sold_out }}
  {{ end }}
  <a class="card" href="{{ .page.RelPermalink }}" title="{{ .page.Title }}">
    <figure style="background-color: {{ .color }}">
      {{ if $sold_out }}
        {{ with .thumbnail }}
          {{ $text := i18n "soldOut" }}

          {{ $fontPath := "https://github.com/notofonts/noto-cjk/raw/main/Sans/OTF/Japanese/NotoSansCJKjp-Black.otf" }}
          {{ $font := "" }}
          {{ with try (resources.GetRemote $fontPath) }}
            {{ with .Err }}
              {{ errorf "%s" . }}
            {{ else with .Value }}
              {{ $font = . }}
            {{ else }}
              {{ errorf "Unable to get resource %s" $fontPath }}
            {{ end }}
          {{ end }}

          {{ $filter := "" }}
          {{ $opts := dict
            "alignx" "center"
            "color" "#ffffff"
            "font" $font
            "size" (mul (math.Min .Width .Height) 0.12 | int)
            "x" (mul .Width 0.5 | int)
            "y" (mul .Height 0.45 | int)
          }}
          {{ $filter = images.Text $text $opts }}
          {{/* with . | images.Filter images.Grayscale | images.Filter $filter */}}
          {{ with . | images.Filter (images.Pixelate 10) | images.Filter $filter }}
            <img class="lazyload" width="{{ .Width }}" height="{{ .Height }}" data-src="{{ .RelPermalink }}" />
          {{ end }}
        {{ end }}
      {{ else }}
        <img class="lazyload" width="{{ .thumbnail.Width }}" height="{{ .thumbnail.Height }}" data-src="{{ .thumbnail.RelPermalink }}" alt="{{ .page.Title }}" />
      {{ end }}
    </figure>
    <div>
      {{ if $sold_out }}
        <h2><del>{{ .page.Title }}</del></h2>
      {{ else }}
        <h2>{{ .page.Title }}</h2>
      {{ end }}
      <p>
        {{ if gt .albumCount 0 }}
          {{ T "albumCount" (dict "count" (.albumCount | lang.FormatNumber 0) "photoCount" (.imageCount | lang.FormatNumber 0 | lang.Translate "photoCount")) }}
        {{ else }}
          {{ T "photoCount" (.imageCount | lang.FormatNumber 0) }}
        {{ end }}
      </p>
      <p>
        {{ with $ntd }}
          NT$ {{ $ntd }}
        {{ end }}
      </p>
    </div>
  </a>
{{ end }}
