{{- $gender := . -}}
{{- $filePath := printf "karaoke/hongyin/%s.txt" $gender -}}
{{- $textResource := resources.Get $filePath -}}
<center>
  {{- if not $textResource -}}
    <p>Error: Couldn't find the text file at {{ $filePath }}</p>
  {{- else -}}
    {{- $rawContent := $textResource.Content -}}
    {{- $entries := split $rawContent "\n" -}}

    {{- if $entries -}}
      <p class="singer-grid-caption">再點選歌手</p>
      <div class="singer-grid">
        {{- range $name := $entries -}}
          {{- if $name -}}
            <div class="singer-item">
              {{- $name -}}
            </div>
          {{- end -}}
        {{- end -}}
      </div>
    {{- else -}}
      <p>No entries found in {{ $filePath }}</p>
    {{- end -}}
  {{- end -}}
</center>
