<footer>
  <section>
    {{ i18n "addrTranslation" }}: {{ i18n "physicalAddr" }}
  </section>
  <section>
    {{ i18n "telephoneTranslation" }}: (04) 729 7999
  </section>
  <section>
    {{ i18n "openHoursTranslation" }}: {{ i18n "openHours" }}
  </section>
  {{ partialCached "social-icons.html" . }}
  <section>
    {{ .Site.Copyright }}
    {{ range .Site.Menus.footer }}
      <a {{ with .Params.rel -}}rel="{{ . }}"{{ end -}} href="{{ .URL }}">
        {{ .Name }}
      </a>
    {{ end }}
  </section>
</footer>
